# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Martin Barbieri\OneDrive - Instituto Politécnico Modelo\Secundaria\6 año\tecnologias-de-soporte-informatico\scientificProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
